//- "-" 符號，讓我們可以在 pug 寫 JS
//- 這邊的 JS 不會被編譯出去 HTML
-
  const artistList = [
    {
      title: '9m88',
      image: 'img/news/img-01.jpg',
    },
    {
      title: '恆月三途',
      image: 'img/lineup/artist-02.jpg',
    },
    {
      title: 'Beyound Cure',
      image: 'img/lineup/artist-03.jpg',
    },
    {
      title: 'Dudu King',
      image: 'img/lineup/artist-04.jpg',
    },
    {
      title: 'Da Wang',
      image: 'img/lineup/artist-05.jpg',
    }
  ];
