//- "-" 符號，讓我們可以在 pug 寫 JS
//- 這邊的 JS 不會被編譯出去 HTML
-
  const newsCategory = [
    {
      path: '',
      title: '全部',
      description: '全部全部全部全部全部全部全部',
      image: 'img/news/img-01.jpg'
    },
    {
      path: 'latest',
      title: '熱門消息',
      description: '全部全部全部全部全部全部全部',
      image: 'img/news/img-01.jpg'
    },
    {
      path: 'design',
      title: '設計快訊',
      description: '全部全部全部全部全部全部全部',
      image: 'img/news/img-01.jpg'
    },
    {
      path: 'others',
      title: '其他消息',
      description: '',
      image: 'img/news/img-01.jpg'
    },
  ];
